body{
  background-color: rgb(5, 11, 68);
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.icon{
  font-size: 23px;
}
.box{
display: grid;
justify-content: center;
align-items: center;
padding: 30px;
color: rgb(0, 0, 0);
background-color: rgb(253, 96, 68);
}